
body {
    background-color: #f7f7f7;
    color: #0a0a0a;
    font-family: "Poppins";
}

.welcome {
    width: 94vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-weight: 700;
    line-height: 170px;
}
