
body {
    background-color: #f7f7f7;
    color: #0a0a0a;
    font-family: "Poppins";
}

.welcome1 {
    width: 94vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    font-weight: 700;
    line-height: 1;
}

@media screen and (max-width: 600px) {
    div.welcome1 {
      font-size: 90px;
    }
  }

.welcome2 {
    width: 94vw;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180px;
    font-weight: 700;
    line-height: 1;
}
